
* {
    box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
  width:100%;
  
}
/**Header **/

#header-nav {
 /* background-color: #f6b319;*/
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  margin-left: 0;
  position: relative;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header{
	margin-left: 0;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

/* end of header*/

/* Home page */
.container .jumbotron h1 {
  margin-bottom: 15px;
  text-align: center;
  font:Helvetica;
  font-size: 175%
  font-color: purple;


}

.container .jumbotron h2{

	text-align: center;

}
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  padding: 20px;
  border: 2px solid #3F0C1F;
  background-color: #f6b319;


}
.container{

	width: 100%;
}
.container .jumbotron .section{

	font-color:blue;
	background-color:#611200;
	height: 2400px;
	overflow:hidden;
}

#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    background-color: #f6b319;


  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  .container .jumbotron .section p {
  	overflow: hidden;
  }

/* end of page */

@media (min-width: 768px) {
  #collapsable-nav a{

  	display:none;

  
  }
  .navbar-fixed-top { position:relative; }
}